*,*::after,*::before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*navigation bar*/
[class*'header-col-'] {
  display: flex;
  float: left;
}

.header-col-1of5 {
  width: 20%;
}

/*frame*/
.frame {
  width: 75rem;
  margin: 0 auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

@media (max-width: 75em) {
  .frame {
    width: 100%;
  }
}

/*header*/
@media (max-width: 73em) {
  .header-searchbar{
    width: 14em;
  }
}

@media (max-width: 71em) {
  .header-searchbar{
    width: 12em;
  }
}

@media (max-width: 69em) {
  .header-searchbar{
    width: 10em;
  }
}

@media (max-width: 66em) {
  .header-account-style {
    display: none;
  }

  .header-accounticon-size {
    display: flex;
  }
}

@media (max-width: 62em) {
  .header-cart-color {
    display: none;
  }

  .header-accounticon-color {
    display: none;
  }
}

@media (max-width: 55em) {
  .header-searchbar{
    display: none;
  }
  .header-searchicon-size {
    display: flex;
  }
}

@media (max-width: 47em) {
  .header-nav-style {
    width: 100%;
    margin-top: 2.5em;
    position: absolute;
    padding-left: 5em;
    padding-right: 5em;
  }

  .header-nav-size {

  }
}
/*-----------later------------*/

.box{
  width: 100%;
  display: block;
  margin: 0 0;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.inline-box {
  display: flex;
  float: left;
}

.menudetail-title {
  display: block;
}

.bounder2 {
  flex: 1 1 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  margin: 0 0;
}

/*later*/
[class*'grid-col-'] {
  display: flex;
  float: left;
}

@media (max-width: 55em) {
  .grid-col-1of2 {
    width: 100%;
  }
}

.grid-col-1of3 {
  width: 33.33333%;
}

@media (max-width: 55em) {
  .grid-col-1of3 {
    width: 100%;
  }
}

.grid-col-1of4 {
  width: 25%;
}

@media (max-width: 55em) {
  .grid-col-1of4 {
      width: 50%;
    }
}

@media (max-width: 40em) {
  .grid-col-1of4 {
    width: 100%;
  }
}

.grid-col-3of4 {
  width: 75%;
}

@media (max-width: 55em) {
  .grid-col-3of4 {
      width: 50%;
    }
}

@media (max-width: 40em) {
  .grid-col-3of4 {
    width: 100%;
  }
}