.box{
  font-family: "Catamaran";
  size:1rem;
  text-align: center;
  padding: 1em 0;
  border-radius: .2em;
  display:-webkit-flex;
  display:-ms-flex;
  display: flex;
}

.row {
 	display: -webkit-box;
  width:33%;
 	margin: 0 0;
}

*,*::after,*::before{
  box-sizing:border-box;
}

.box-item{
  flex: 1 1 auto;
}

[class*'grid-col-'] {
  display: flex;
  float: left;
}

/*.grid-col-1of3 {
  width: 33.33333%;
}*/


@media (max-width: 30em) {


}