.rightbottons{
  float: right;
}

.box{
  width: 100%;
  border-radius: .2em;
  display: block;
  margin: 0 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

*,*::after,*::before{
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

[class*'grid-col-'] {
  display: flex;
  float: left;
}

.grid-col-1of3 {
  width: 33.33333%;
}

.grid-col-1of4 {
  width: 25%;
}

@media (max-width: 55em) {
  .grid-col-1of4 {
    width: 50%;
  }
}

@media (max-width: 30em) {
  .grid-col-1of4 {
    width: 100%;
  }
}

.frame {
  width: 1000px;
  min-height: 680px;
  margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

@media (max-width: 1006px) {
  .frame {
    width: 100%;
  }
}

