/*#626D71*/
/*#B38867*/
/*#CDCDC0*/
/*background: rgba(255,255,255,0.94);*/
.test {
  background-color: yellow;
}

/*whole area margin*/
.whole-margin {
  margin-right: 1em;
  margin-left: 1em;
}

/*header==========*/
.header-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: rgba(255,255,255,0.96);
  box-shadow: 0 0.1em 0.5em #626D71;
}

/*logo*/
.header-logo {
  float: left;
  width: 10em;
  margin-top: -0.3em;
}

/*cart*/
.header-cart-color {
  color: #626D71;
}

.header-cart-inter-position {
  margin-top: 0.5em;
}

.header-cart-size {
  float: right;
  font-size: 1.2em;
  height: 2.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.header-cart-position {
  margin-right: 1em;
}

.header-cart-size:hover .header-cart-color{
  color: #B38867;
}

/*log in & sign up*/
.header-account-color {
  color: #626D71;
}

.header-account-inter-position {
  margin-top: 0.5em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.header-account-line {
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #626D71;
  height: 0.9em;
  margin-top: 0.75em;
}

.header-account-style {
  float: right;
  display: flex;
  flex-wrap: wrap;
  height: 2.5em;
  font-size: 1.2em;
  margin-left: 1em;
  margin-right: 1em;
}

.header-account-a:hover .header-account-color {
  color: #B38867;
}

/*navigation bar*/
.header-nav-size {
  color: #626D71;
  padding-top: 0.5em;
  width: 20%;
}

.header-nav-style {
  height: 2.5em;
  display: flex;
  flex-wrap: wrap;
  width: 23em;
  float: left;
  font-size: 1.2em;
}

.header-nav-size:hover {
  color: #B38867;
  border-bottom-color: #B38867;
  border-bottom-style: solid;
}

/*search bar*/
.header-search{
  float: right;
  width: 16em;
  display: flex;
  margin-top: 0.5em;
}

.header-search-form {
  border-radius: 0.1em;
  border-width: 1px;
  background: rgba(240,240,240,0.5);
  font-size: 1.1em;
  color: #626D71;
  padding-left: 0.2em;
  padding-right: 2em;
  border-style: solid;
  border-color: #CDCDC0;
}

.header-search-icon {
  font-size: 1.1em;
  margin-left: -2em;
}

.header-search-icon-style {
  color: #626D71;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header-search-icon:hover .header-search-icon-style {
  color: #B38867;
}

.header-search-form:focus {
  background: rgba(230,230,230,0.5);
  outline: none;
}

/*later----------*/

.nav-top-margin {
  margin-top: 1.5em;
}

.button-nav {
  padding: 0.5em 0.75em;
  background-color: white;
  color: #B38867;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
 background-color: #B38867;
 color:white;
}

/*content==========*/
.content-top-margin {
  margin-top: 6em;
}

.menu-container{
  display: -webkit-flex;
  display: flex;
}

.menu-sidebar{
  width:10em;
}

.menu-nav{
  display: block;
  color:white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #CDCDC0;
  /*border-radius: 0.25em;*/
}

.menu-nav:hover,.menu:focus {
  background-color: #626D71;
}

.menu-content {
  -webkit-flex: 1;
          flex: 1;
}

.menu-content-margin-left {
  margin-left: 0.5em;
}

.menudetail-content {
  text-align: left;
}

.menudetail-padding-left {
  padding-left: 1em;
}

.menudetail-quantity-margin-leftright {
  margin-left: 1em;
  margin-right: 1em;
}

.menudetail-nav-margin-top {
  margin-top: 1em;
}

.menudetail-nav {
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  background-color: #CDCDC0;
  /*border-radius: 0.25em;*/
  width: 10em;
}

.img-left-padding-2of3 {
  padding-right: 0.4em;
}

.img-middle-padding-1of3 {
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.img-right-padding-2of3 {
  padding-left: 0.4em;
}

.checkout-nav-margin-top{
  margin-top: 1em;
}

.checkout-nav {
  border: 0.1em solid #626D71;
  /*border-radius: 0.5em;*/
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.confirm-nav {
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  background-color: #CDCDC0;
  /*border-radius: 0.25em;*/
  width: 10em;
}


/* product-list -------------------*/

.product-picture{
  display:block;
  position: relative;
  margin:0 auto;
}

.product-text{
  display: block;
  position: relative;
  float:center;
}

.product-text h3 {
font-size:1.2rem;
text-align: center;
}

.product-text h4{
  text-align: center;
  font-size:0.8rem;
  color:#333;
  margin:0.0625em 0;
  display: block;
}

/*footer===========*/
.footer-top-margin{
  margin-top: 2em;
}

.footer-col-margin{
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-list-top-margin{
  margin-top: 1em;
}