/*#626D71*/
/*#B38867*/
/*#CDCDC0*/
/*#DDBC95*/
/*background: rgba(255,255,255,0.94);*/
.test {
  background-color: yellow;
}

.test1 {
  background-color: red;
}

/*whole area margin*/
.whole-margin {
  margin-right: 1em;
  margin-left: 1em;
}

/*header==========*/
.header-style {
  width: 100%;
  height: 3em;
  background-color: rgba(255,255,255,0.96);
  box-shadow: 0 0.1em 0.5em #626D71;
  position: relative;
}

/*logo*/
.header-logo {
  float: left;
  width: 10em;
  margin-top: -0.3em;
}

/*cart*/
.header-cart-color {
  color: #626D71;
}

.header-cart-inter-position {
  margin-top: 0.5em;
}

.header-cart-size {
  float: right;
  font-size: 1.2em;
  height: 2.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.header-cart-position {
  margin-right: 1em;
}

.header-cart-size:hover .header-cart-color{
  color: #B38867;
}

/*log in & sign up*/
.header-account-color {
  color: #626D71;
}

.header-account-inter-position {
  margin-top: 0.5em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.header-account-line {
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #626D71;
  height: 0.9em;
  margin-top: 0.75em;
}

.header-account-style {
  float: right;
  display: flex;
  flex-wrap: wrap;
  height: 2.5em;
  font-size: 1.2em;
  margin-left: 1em;
  margin-right: 1em;
}

.header-account-a:hover .header-account-color {
  color: #B38867;
}
  /*narrow account icon*/
  .header-accounticon-color {
    color: #626D71;
  }

  .header-accounticon-inter-position {
    margin-top: 0.5em;
  }

  .header-accounticon-size {
    float: right;
    font-size: 1.2em;
    height: 2.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: none;
  }

  .header-accounticon-size:hover .header-accounticon-color{
    color: #B38867;
  }

/*navigation bar*/
.header-nav-size {
  color: #626D71;
  padding-top: 0.5em;
  width: 25%;
}

.header-nav-style {
  height: 2.5em;
  display: flex;
  flex-wrap: wrap;
  width: 18em;
  float: left;
  font-size: 1.2em;
  position: relative;
}

.header-nav-size:hover {
  color: #B38867;
  border-bottom-color: #B38867;
  border-bottom-style: solid;
}

.header-nav-size:focus {
  color: white;
  background-color: #B38867;
}

  /*narrow nav icon*/
  .header-navicon-color {
    color: #626D71;
  }

  .header-navicon-inter-position {
    margin-top: 0.5em;
  }

  .header-navicon-size {
    float: right;
    font-size: 1.2em;
    height: 2.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .header-navicon-size:hover .header-navicon-color{
    color: #B38867;
  }

  #header-nav-icon {
    display: none;
  }

.header-subnav-style {
  position: absolute;
  top: 2.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #CDCDC0;
  box-shadow: 0 0.1em 0.5em #626D71;
}

.header-subnav-size {
  color: white;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #CDCDC0;
  width: 25%;
}

.header-subnav-size:hover {
  border-bottom-color: #626D71;
}

.header-subnav-size:focus {
  border-bottom-color: #626D71;
  background: #626D71;
}

/*search bar*/
.header-searchbar{
  float: right;
  width: 16em;
  display: flex;
  margin-top: 0.5em;
}

.header-searchbar-form {
  border-radius: 0.1em;
  border-width: 1px;
  background: rgba(240,240,240,0.5);
  font-size: 1.1em;
  color: #626D71;
  padding-left: 0.2em;
  padding-right: 2em;
  border-style: solid;
  border-color: #CDCDC0;
}

.header-searchbar-icon {
  font-size: 1.1em;
  margin-left: -2em;
}

.header-searchbar-icon-style {
  color: #626D71;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header-searchbar-icon:hover .header-searchbar-icon-style {
  color: #B38867;
}

/*narrow search icon*/
  .header-searchicon-color {
    color: #626D71;
  }

  .header-searchicon-inter-position {
    margin-top: 0.5em;
  }

  .header-searchicon-size {
    float: right;
    font-size: 1.2em;
    height: 2.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: none;
  }

  .header-searchicon-size:hover .header-searchicon-color{
    color: #B38867;
  }


.header-search-icon {
  float: right;
  flex-wrap: wrap;
  height: 2.5em;
  font-size: 1.2em;
  margin-left: 1em;
  display: none;
}

.header-search-inter-position {
  margin-top: 0.5em;
}

/*content==========*/
.content-top-margin {
  margin-top: 5em;
}

/*welcome img*/
.content-welcome-container {
  height: 15em;
}

.content-welcome{
  height: 100%;
}

.content-welcome:hover .content-welcome-overlay {
  opacity: 1;
}

.content-welcome:hover .content-welcome-image {
  filter: blur(.1em);
}

.content-welcome:hover .content-welcome-text {
  opacity: 0.4;
}

.content-welcome-image {
  background-image: url(../img/home1.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.content-welcome-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.content-welcome-text>h1 {
  color: white;
  font-size: 5em;
}

.content-welcome-text>h2 {
  color: white;
  font-size: 3em;
  font-weight: lighter;
}

.content-welcome-overlay {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.content-welcome-opacity-text {
  background-color: transparent;
  border-color: white;
  border-style: double;
  border-width: 0.35em;
  color: white;
  font-size: 1.5em;
  padding: 0.5em 2em;
  position: relative;
  top: 50%;
}

.menu-container {
  display: -webkit-flex;
  display: flex;
}

.menu-sidebar{
  width:10em;
}

.menu-nav{
  display: block;
  color:white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #CDCDC0;
  /*border-radius: 0.25em;*/
}

.menu-nav:hover,.menu:focus {
  background-color: #626D71;
}

.menu-content {
  -webkit-flex: 1;
          flex: 1;
}

.menu-content-margin-left {
  margin-left: 0.5em;
}

.menudetail-content {
  text-align: left;
}

.menudetail-padding-left {
  padding-left: 1em;
}

.menudetail-quantity-margin-leftright {
  margin-left: 1em;
  margin-right: 1em;
}

.menudetail-nav-margin-top {
  margin-top: 1em;
}

.menudetail-nav {
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  background-color: #CDCDC0;
  /*border-radius: 0.25em;*/
  width: 10em;
}

.img-left-padding-2of3 {
  padding-right: 0.4em;
}

.img-middle-padding-1of3 {
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.img-right-padding-2of3 {
  padding-left: 0.4em;
}

.checkout-nav-margin-top{
  margin-top: 1em;
}

.checkout-nav {
  border: 0.1em solid #626D71;
  /*border-radius: 0.5em;*/
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.confirm-nav {
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  background-color: #CDCDC0;
  /*border-radius: 0.25em;*/
  width: 10em;
}


/* product-list -------------------*/

.product-picture{
  display:block;
  position: relative;
  margin:0 auto;
}

.product-text{
  display: block;
  position: relative;
  float:center;
}

.product-text h3 {
font-size:1.2rem;
text-align: center;
}

.product-text h4{
  text-align: center;
  font-size:0.8rem;
  color:#333;
  margin:0.0625em 0;
  display: block;
}

/*footer===========*/
.footer-top-margin{
  margin-top: 2em;
}

.footer-col-margin{
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-list-top-margin{
  margin-top: 1em;
}

/*later----------*/

.nav-top-margin {
  margin-top: 1.5em;
}

.button-nav {
  padding: 0.5em 0.75em;
  background-color: white;
  color: #B38867;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
 background-color: #B38867;
 color:white;
}