*{
  font-family: 'Catamaran';
  color:rgb(47,41,21);
}

body {
  font-family: 'Catamaran';
  text-align: center;
  display: block;
}

a {
  text-decoration: none;
}

h1{
  line-height: 5rem;
  font-family: "Sacramento";
  font-size:4rem;
  text-decoration: none;
  color:black;
  text-align: center;
  display: block;
  font-weight: normal;
  margin: 0 auto;
}

div{
  width: 100%;
}

nav{
  width: 100%;
}

header{
  display: block;
}

img{
  width: 100%;
}

ul{
  padding: 0 0;
  margin: 0 auto;
}

li{
  list-style:none;
}

h2{
  font-size:1.625em;
  text-align: center;
  margin: 0 auto;
}

h3{
  font-size:1.375em;
  margin: 0 auto;
}

h4 {
  font-size:1.25em;
  margin: 0 auto;
}

p {
  margin: 0 auto;
}

footer{
  background: rgb(225,225,225);
  height:auto;
  position:relative;
  right:0;
  left:0;
  bottom:0;
}

/*whole area margin*/
.whole-margin {
  margin: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

/*header==========*/
.logo-top-margin {
  margin-top: 2em;
}

/*navgation----------*/

.nav-top-margin {
  margin-top: 1.5em;
}

.button-nav {
  padding: 0.5em 0.75em;
  background-color: rgb(240,92,98);
  color: white;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
 background-color: rgb(114,180,197);
 color:white;
}

/*content==========*/
.content-top-margin {
  margin-top: 0.5em;
}

/* product-list -------------------*/

.product-picture{
  display:block;
  position: relative;
  margin:0 auto;
}

.product-text{
  display: block;
  position: relative;
  float:center;
}

.product-text h3 {
font-size:1.2rem;
text-align: center;
}

.product-text h4{
  text-align: center;
  font-size:0.8rem;
  color:#333;
  margin:0.0625em 0;
  display: block;
}

/*footer===========*/
.footer-top-margin{
  margin-top: 1em;
}

.footer-col-margin{
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-list-top-margin{
  margin-top: 1em;
}