*{
  font-family: 'Catamaran';
  color:rgb(47,41,21);
  font-weight: lighter;
}

body {
  font-family: 'Catamaran';
  text-align: center;
  display: block;
  margin:0 auto;
}

a {
  text-decoration: none;
}

h1{
  font-family: "Sacramento";
  font-size:3rem;
  text-decoration: none;
  color:#626D71;
  text-align: center;
  display: block;
  font-weight: lighter;
  margin: 0 0;
}

nav{
  width: 100%;
}

header{
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

input[type=text]{
  width: 100%;
}

input[type=password]{
  width: 100%;
}

img{
  width: 100%;
  height: auto;
}

ul{
  padding: 0 0;
  margin: 0 auto;
}

li{
  list-style:none;
}

h2{
  font-family: "Catamaran";
  font-size:1.625em;
  margin: 0 auto;
  font-weight: normal;
}

h3{
  font-family: "Catamaran";
  font-size:1.375em;
  margin: 0 auto;
  font-weight: normal;
}

h4 {
  font-family: "Catamaran";
  font-size:1.25em;
  margin: 0 auto;
  font-weight: normal;
}

p {
  font-family: "Catamaran";
  margin: 0 auto;
}

button {
  text-align: center;
  font-size: 1.2em;
  display: block;
  background-color: #626D71;
  color: white;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.container{
  display: block;
  margin: 5em;
}
/*header*/

.header-nav-size {
  color: #626D71;
  padding-top: 0.5em;
  width: 25%;
}

.header-nav-style {
  height: 2.5em;
  display: inline-block;
  flex-wrap: wrap;
  width: 18em;
  float: middle;
  font-size: 1.2em;
  position: relative;
}

.header-nav-size:hover {
  color: #B38867;
  border-bottom-color: #B38867;
  border-bottom-style: solid;
}

.header-nav-size:focus {
  color: white;
  background-color: #B38867;
}
/*button*/

.confirm-nav {
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  background-color: #CDCDC0;
  width: 10em;
}
/*form*/
.paymentform{
  font-size:0.8em;
}
